.container {
    .mat-toolbar {
        position: fixed;
        top: 0;
        z-index: 9999;
        height: 80px;
        display: grid;
        grid-template-columns: 200px 3fr 1fr;
        box-shadow: 1px 1px 3px 1px grey;
        h3 {
            font-size: 40px;
        }
        .nav-buttons {
            display: flex;
            width: 500px;
            button {
                margin: 10px;
            }
            .nav-button-selected {
                background-color: #e4e3e3;
            }
        }
        .version {
            text-align: end;
        }
    }
}